<h1>Info</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Telefone</th>
      <th>Fale um pouco de você</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
<p> OI, eu sou um bolinho</p>
<p>Eu gosto de bala de caramelo</p>
<br>
